@import "../../global.scss";

.topbar {
    width: 100vw;
    height: 128px;
    background-color: $darkBackground;
    z-index: 2;
    position: fixed;
    top: 0;
    transition: all .4s ease;

    &.scrolled {
        height: $topBarHeight;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 $paddingX;

        @include mobile {
            padding: 0 $sm_paddingX;
        }

        .left {
            display: flex;
            flex-shrink: 0;
            width: 42px;
            height: 42px;
            margin-right: 42px;
        }

        .right {
            .menu {
                display: flex;
                list-style: none;
                padding: 0;
                width: 420px;
                justify-content: space-between;
            
                @include mobile {
                    display: none;
                }

                color: white;
                &.scrolled {
                    color: white
                }

                li {
                    font-weight: 400;
                    color: inherit;
                    opacity: 0.6;
                    &:hover {
                        opacity: 1;
                    }

                    &.currentSection {
                        opacity: 1;
                        color: $accentColor;
                        font-weight: 600;
                    }

                    a {
                        font-size: 18px;
                        font-weight: inherit;
                        text-decoration: none; 
                        color: inherit;
                        opacity: inherit;  
                    }
                }
            }   

            .hamburger {
                
            }
        }

    }
}