@import "../../global.scss";

.topbar {
    width: 100vw;
    height: $topBarHeight;
    background-color: transparent;
    z-index: 2;
    position: fixed;
    top: 0;
    transition: all .2s ease;

    &.scrolled {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 80px;

        @include mobile {
            padding: 0 40px;
        }

        .left {
            display: flex;
            flex-shrink: 0;
            width: 42px;
            height: 42px;
            margin-right: 42px;
        }

        .right {
            .menu {
                display: flex;
                list-style: none;
                padding: 0;
                width: 420px;
                justify-content: space-between;
            
                @include mobile {
                    display: none;
                }

                color: gray;
                font-weight: 300;
                font-size: 18px;
                text-decoration: none;

                li {
                    &:hover {
                        color: white;
                        font-weight: 400;
                    }

                    &.currentSection {
                        color: white;
                        font-weight: 400;
                    }

                    a {
                        font-size: inherit;
                        color: inherit;
                        font-weight: inherit;
                        text-decoration: inherit;   
                    }
                }

                &.scrolled {
                    li {
                        &:hover {
                            color: black;
                            font-weight: 400;
                        }
    
                        &.currentSection {
                            color: black;
                            font-weight: 400;
                        }
    
                        a {
                            font-size: inherit;
                            color: inherit;
                            font-weight: inherit;
                            text-decoration: inherit;   
                        }
                    }
                }
            }   

            .hamburger {
                
            }
        }

    }
}