@import "../../global.scss";

.portfolio {
  width: 100vw;
  padding-top: $topBarHeight;
  padding-bottom: $topBarHeight;
  background-color: $backgroundLight;

  .projects {
    margin: 0 0 24px 0;
    padding: 0 $paddingX 0 $paddingX;

    .content {
        margin: 8px 0px 24px 0px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .project {
          margin: 32px 0;
          display: flex;
          height: 480px;
          gap: 28px;
          width: 75%;
          overflow: hidden;

          box-shadow: 0 0 0.625rem -0.1875rem rgba(0, 0, 0, .13);
          border-radius: 18px;
          background-color: white;
          border: 1px solid rgba(0, 0, 0, .1);
          
          .left {
            flex: .6;
            display: flex;
            align-items: center;
            padding-left: 18px;
            padding-right: 18px;
            
            // background-image: linear-gradient(to right, #eef1f5 80%, white 100%);
            background-color: #eef1f5;

            img {
              width: 100%;
              max-height: 100%;
              object-fit: contain;
            }
          }

          .right {
            flex: .4;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: inherit;
            padding: 64px 28px 64px 0;
            width: 100%;
                        
            .details {
              width: 100%;

              .links {
                display: flex;
                flex-direction: row;
                gap: 16px;
                margin-bottom: 18px;
                min-height: 32px;
  
                a {
                  transition: all .25s ease-in-out;
                  max-height: 32px;
  
                  stroke: $textDark;
                  &:hover {
                    stroke: $accentColor;
                  }
  
                  svg {
                    width: 28px;
                    height: 28px;
                    stroke: inherit;
                  }
                }
              }  

              .title {
                margin-bottom: 12px;
              }
  
              .description {
                font-size: 16px;
                line-height: 1.4;
                margin-bottom: 28px;
              }
            }

            .technologies {
              display: flex;
              flex-direction: row;
              gap: 16px;

              > img {
                max-height: 32px;
              }
            }
          }

          &.reverse {
            flex-direction: row-reverse;

            .right {
              align-items: flex-start;
              padding: 64px 0 64px 28px;
            }
          }
        }
    }
  }
}