@import "../global.scss";

p {
    font-size: 18px;
    line-height: 1.8;
    color: $textDark;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    margin: 0 0 8px 0;

    @include tablet {
        font-size: 16px;
    }
}

h1 {
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.6;
    text-transform: capitalize;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin: 0;
}

h2 {
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4;
    text-transform: capitalize;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin: 0; 
    text-align: center;
}

h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    text-transform: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin: 0; 
}

h4 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    text-transform: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin: 0; 
}

h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    text-transform: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin: 0; 
}

h6 {
    font-size: 18px;
    line-height: 1.875;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: $accentColor;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

/* ------------------------------------ */

li {
    font-size: 18px;
    line-height: 1.8;
    color: $textDark;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    margin: 0 0 8px 0;
}

ul {
    margin: 0 0 8px 0;
}

a {
    font-size: 18px;
    line-height: 1.8;
    color: $accentColor;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    margin: 6px 0;
    &:hover {
        color: $accentColorDark;
    }
}


