@import "../../global.scss";

.contact {
    background-color: $backgroundDark;
    padding: $topBarHeight $paddingX;

    .header {
        max-width: 700px;
        margin: 0 auto 30px;
        text-align: center;
        padding: 0;

        h1 {
            color: white;
            margin-bottom: 16px;
        }

        p {
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 38px;
        }
    }

    .contactForm {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        padding: 0;

        .formField {
            margin-bottom: 16px;
            border-radius: 8px;
            display: block;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.7);
            width: 100%;
            padding: 16px;
            outline: none;
            background: transparent;
            border: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            transition: all .4s ease-in-out;

            &:focus {
                color: white;
                border-color: $accentColor;
            }
        }

        textarea {
            height: 220px;
            font-family: 'Poppins', sans-serif;
            resize: none;
        }

        button {
            font-size: 18px;
            display: block;
            letter-spacing: 2.5px;
            height: 56px;
            margin-top: 64px;
            padding: 16px 28px;
            border-radius: 8px;
            width: 100%;
            background: $accentColor;
            color: #FFFFFF;
            text-transform: uppercase;
            border: none;
            font-weight: 600;
            transition: all .3s ease-in-out;

            &:hover {
                background: $accentColorDark;
            }
        }
    }

    .contactInfo {
        max-width: 700px;
        margin: 68px auto;
        display: flex;
        justify-content: space-around;
        text-align: center;

        .wrapper {
            width: 280px;

            svg {
                width: 42px;
                height: 42px;
                stroke: white;
            }

            h6 {
                color: white;
            }    

            a {
                margin-bottom: 38px;
            }

        }
    }

}