@import "../../global.scss";

.contact {
    background-color: $darkBackground;

    .header {
        max-width: 700px;
        margin: 0 auto 30px;
        text-align: center;
        padding: 0;

        h5 {
            font-size: 18px;
            line-height: 1.875;
            letter-spacing: .2rem;
            text-transform: uppercase;
            color: $accentColor;
            font-style: normal;
            text-rendering: optimizeLegibility;
            font-weight: 600;
            margin: 0;
            padding: 0;
            margin-bottom: 8px;
        }

        h1 {
            font-size: 38px;
            line-height: 1.25;
            color: white;
            font-style: normal;
            text-rendering: optimizeLegibility;
            font-weight: 600;
            margin: 0;
            padding: 0;
            margin-bottom: 16px;
        }

        p {
            font-size: 18px;
            line-height: 1.8;
            color: rgba(255, 255, 255, 0.7);
            font-style: normal;
            text-rendering: optimizeLegibility;
            font-weight: 200;
            margin: 0;
            padding: 0;
            margin-bottom: 38px;
        }
    }

    .contactForm {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        padding: 0;

        .formField {
            margin-bottom: 16px;
            border-radius: 8px;
            display: block;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.7);
            width: 100%;
            padding: 16px;
            outline: none;
            background: transparent;
            border: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            transition: all 0.3s ease-in-out;

            &:focus {
                color: white;
                border-color: $accentColor;
            }
        }

        textarea {
            height: 220px;
            font-family: 'Poppins', sans-serif;
            resize: none;
        }

        button {
            font-size: 18px;
            display: block;
            letter-spacing: 2.5px;
            height: 56px;
            margin-top: 64px;
            padding: 16px 28px;
            border-radius: 8px;
            width: 100%;
            background: $accentColor;
            color: #FFFFFF;
            text-transform: uppercase;
            border: none;
            font-weight: 600;
        }
    }

    .contactInfo {
        max-width: 700px;
        margin: 68px auto;
        display: flex;
        justify-content: space-around;
        text-align: center;

        .wrapper {
            width: 280px;

            svg {
                width: 42px;
                height: 42px;
                stroke: white;

            }

            h5 {
                font-size: 18px;
                line-height: 1.875;
                letter-spacing: .1rem;
                text-transform: uppercase;
                color: white;
                font-style: normal;
                text-rendering: optimizeLegibility;
                font-weight: 600;
                margin: 0;
                padding: 0;
                margin-bottom: 8px;
            }    

            a {
                font-size: 18px;
                line-height: 1.8;
                color: rgba(255, 255, 255, 0.7);
                font-style: normal;
                text-rendering: optimizeLegibility;
                font-weight: 200;
                margin: 0;
                padding: 0;
                margin-bottom: 38px;
                text-decoration: none;

                &:hover {
                    color: $accentColor;
                }
            }

        }
    }

}