@import "../../global.scss";

.footer {
    background-color: $backgroundDark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0 38px 0;
    text-align: center;

    h6 {
        color: $textLight;
        font-size: 16px;
        margin-bottom: 14px;
    }

    .copyright {
        display: flex;
        justify-content: center;
    
        svg {
            margin-right: 8px;
            fill: rgb(114, 114, 114);
        }
    }

    p {
        font-size: 14px;
        color: rgb(114, 114, 114);
    }
}