$mainColor: #15023a;

$topBarHeight: 80px;

$paddingX: 80px;
$sm_paddingX: 40px;


/* RESPONSIVE */ 
$width: 576px;
@mixin mobile {
    @media screen and (max-width: #{$width}) {
        @content
    }
}