$mainColor: #15023a;
$backgroundLight: #f2f2f2;
$primaryText: #434242;

$darkBackground: #151515;
$accentColor: #00B4D9;


$topBarHeight: 80px;

$paddingX: 80px;
$sm_paddingX: 40px;


/* RESPONSIVE */ 
$width: 576px;
@mixin mobile {
    @media screen and (max-width: #{$width}) {
        @content;
    }
}

