@import "../../global.scss";

.comingSoon {
    height: 100vh;
    width: 100vw;
    background-color: $backgroundLight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: $sm_paddingX;

    .logo {
        width: 20%;
        margin-bottom: 48px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 12px;
    }

    .rotate {
        width: 35%;
        margin-top: 18px;
    }
}